[FEATURE] Improve the probability that the p2p connections get chosen

**Is your feature request related to a problem? Please describe.**
From our field experiments, given the same network conditions and devices fixed, there will be fluctuations where p2p or relayed pair get chosen randomly. Ideally, if a device can be contacted through p2p, the probability of always p2p should be very high, but we've been observing alternating TURN and p2p and it's puzzling. 

**Describe the solution you'd like**
Reading RFC 8445, section 7.2.1 (https://tools.ietf.org/html/rfc8445#section-7.2.1)
Seems like the defer creation of TURN channels after ICE completes might shed some light. However, this is just an educated guess.

In my understanding(regular nomination), I assume that creating host/srflx/turn candidate step by step, sending stun req with corresponding the priority, and then the controlling ice agent will select the fastest candidate pair if the candidate pairs with highest priority. If you use aggressive nomination on controlling ice agent side, it may increase the possibility of host/srflx candidates. Please correct me if I am wrong. thanks.

Perhaps we are talking about ICE re-nomination in case of trickle ice. The idea is to select a connected pair asap to get the stream going but later re-nominate a more application "appropriate" pair and switch over on-the-fly. 

This feature is something that we are considering but not yet implemented. It's not a trivial amount of work and we need to ensure that other standard implementations could support it.

I guess the issue @suggestedfixes said is to increase the possibility of p2p case not ice renomination, and this sdk sends the stun req and turn allocation req almost at the same time. It will let p2p candidates need to compete with relay candidates, so controlling ice agent may nominate relay candidates if ice candidate pair with relay candidates arrives controlling ice agent fast(if p2p candidates somehow is slow than relay candidates). Basically, p2p candidates should be faster than relay candidates, but in my scenario, I also found that relay candidates were faster than p2p candidates sometimes. 
And yes, ice renomination(https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/issues/350) should improve the possibility of p2p candidates, since we can re-nominate the p2p candidates in order to replace the relay candidates. But I am not sure every browser can support this feature. Please correct me if any wrong, thanks.

Indeed, the support might be spotty and we are talking not only browsers but many other implementations including mobile.

The P2P candidates at times can be slower and we give preference to lower latency. Perhaps, customers could change the values of the default timeouts and/or use non-trickle ICE to gain all of the candidates at once but this will inevitably affect the latencies in some scenarios so it really is up to the application to control the behavior.

Indeed, if we consider the behavior of trickle ice is not included in the functionality of ice agent, it will be the behavior of application. But if we consider trickle ice is included in the ice agent, it should be handle in the core of ice agent. And yes, changing the starting delay of turn connection timer may improve this possibility, but I did not measure this possibility before. Perhaps the sdk team did measure the possibility under different parameters of timers.

Perhaps, we can detach the policy of selecting ice candidate from the current design, and let users decide which candidate is more important. But it does not follow the standard. 

https://tools.ietf.org/html/rfc5245#section-7.1.1

OK, reading through the comments I think we are not getting anywhere here.

1) The SDK can act as controlling or as controlled. It actually evaluates to being controlling in viewer app and controlled in master. So, in case of master, it's the other end that nominates the candidates. Which candidate gets nominated depends on the other end selecting the higher priority.
2) The SDK will start nominating as soon as it has a connection. It is possible that the SDK nominates a TURN pair (if in viewer) before any P2P candidates resolve their connectivity checks or fail.
3) In case of the above, the best approach would be an implementation of ICE renomination. This is a costly feature, it will potentially impact the uninterrupted streaming and the support in 3p is spotty so we will not prioritize this.
4) It's also possible to introduce a application controlled timeout which would allow the connection to continue for some time before the nomination process.

I am going to resolve this issue as it's not actionable.

Instead, I would recommend cutting a new issue with more targeted suggestions or if there is a misinterpretation of the RFC.

It's also OK to continue discussion in the issue but we try to keep the open issue count to the minimum to be able to prioritize.