[BUG] protocol/relayProtocol value not following the specification

https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/bbc5344022deb891e4fe925c70fd1ae9b0e3689f/src/source/Ice/IceUtils.h#L21
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/bbc5344022deb891e4fe925c70fd1ae9b0e3689f/src/source/Ice/IceAgent.c#L102
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/e90913ed4902dc6e4b492af5424fe40261ee34f4/src/source/Metrics/Metrics.c#L72

Through these pieces of code, we can see protocol of a RtcIceCandidateStats type will get value "transport=udp". But this does not meet the specification. From this doc: https://www.w3.org/TR/webrtc-stats/#icecandidate-dict* .

> **protocol** of type DOMString
>   Valid values for transport is one of "udp" and "tcp". Based on the "transport" defined in [RFC5245] section 15.1.

The same thing happens to relayProtocol.
So, is it a bug? 